@use "./variables" as *;

@mixin noListDecoration {
  text-decoration: none;
}

@mixin navbarItem($fontsize, $fontweight) {
  font-size: $fontsize;
  font-weight: $fontweight;
  color: $color-primary-darker;
}
