@use "../styles/variables" as *;

@mixin device($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media screen and (min-width: 992px) {
      @content;
    }
  }
}

@mixin pageTitle() {  
  text-shadow:
      -0.03125em 0 $color-background,
      0 0.03125em $color-background,
      0.03125em 0 $color-background,
      0 -0.03125em $color-background;
  color: $header-font-color;
}
