//landing page header
$mars-header-background: #ff9d1e;
$mission-header-background: #ffebd1;
$header-font-color: #dd361c;

//base colors
$color-background: #212121;
$color-foreground: #ffffff;
$color-primary: #105bd8;
$color-primary-darker: #0b3d91;
$color-primary-darkest: #061f4a;
$color-accent: #aeb0b5;
$color-navbar: #ffc375;

//landing page buttons
$button-dashboard-blue: #02bfe7;
$button-dashboard-green: #4aa564;
$button-dashboard-purple: #4c2c92;
$button-dashboard-pink: #f9e0de;
$button-dashboard-background: #ffebd1;
$button-dashboard-hover: #f9aa43;

//font
$dashboard-font: "Overpass", sans-serif;
