@use "../../styles/variables" as *;

.QuizPage {
  &__answer {
    font-size: 1.5rem;

    // &:hover {
    //   background-color: blue;
    // }

    &--correct {
      background-color: $button-dashboard-green;
    }

    &--incorrect {
      background-color: $header-font-color;
    }
  }
}
