.Area51__forbidden {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
  }

  h1 {
    margin-bottom: 0;
  }

  &__Link {
    margin-top: 1rem;
  }
}

.Area51__cleared {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
  }

  h1 {
    margin-bottom: 0;
  }
}
