.Error404Page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
  }

  &__Link {
    margin-top: 1rem;
  }

  h1 {
    margin-bottom: 0;
  }


}
