@use "../styles/variables" as *;

.facts-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.page-header {
  text-align: center;
}

.section-header {
  text-align: center;
}

li {
  list-style: none;
}
