@use "../styles/variables" as *;

.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-wrapper {
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  padding-left: 4em;
}

.headings-wrapper {
  border-radius: 80px;
  border: 2px solid $color-background;
  padding: 20px;
  margin: 0 auto;
  font-size: 50px;
  display: inline-block;
  box-shadow: 5px 5px 25px $color-foreground;

  .heading-text {
    padding: 15px;
    color: $header-font-color;
    text-shadow:
      -2px 0 $color-background,
      0 2px $color-background,
      2px 0 $color-background,
      0 -2px $color-background;
    text-align: center;
  }
}

.mars-wrapper {
  background-color: $mars-header-background;
  transform: rotate(-10deg);
  margin-left: -1em;
  margin-bottom: -0.5em;
}

.mission-wrapper {
  background-color: $mission-header-background;
  transform: rotate(5deg);
  margin-left: 0.5em;
}

.dashboard-navigation {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-top: 3em;

  &-item {
    display: flex;
    align-items: center;
    transition: all 0.5s ease;

    img {
      width: 30px;
      height: 30px;
    }

    &-icon {
      padding: 1em;
      border: 1px solid $color-background;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin-right: -2em;
      z-index: 1;
    }

    &__rovers {
      background-color: $button-dashboard-blue;
    }

    &__bCard {
      background-color: $button-dashboard-green;
    }

    &__quiz {
      background-color: $button-dashboard-pink;
    }

    &__weather {
      background-color: $button-dashboard-purple;
    }
  }

  &-button {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 1em;
    text-align: center;
    padding-left: 3em;
    padding-right: 1em;
    font-size: 1em;
    font-weight: 600;
    font-family: $dashboard-font;
    background-color: $button-dashboard-background;
    border-radius: 5px;
    border: 2px solid $color-background;
    &:hover {
      background-color: $button-dashboard-hover;
    }
  }
}

@media (min-width: 768px) {
  .landing-page-wrapper {
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .dashboard-navigation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5em;

    &-item {
      transform: scale(1.2);
    }
  }

  .headings-wrapper {
    font-size: 70px;
    box-shadow: 5px 5px 25px $color-background;
    padding: 30px;
  }
}

@media (min-width: 992px) {
  .landing-page-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .heading-wrapper {
    justify-self: center;
    margin: 0;
  }

  .headings-wrapper {
    font-size: 90px;
    margin-left: 1em;
    padding: 40px;
    border-radius: 95px;
    border-width: 6px;
  }

  .mars-wrapper {
    margin-bottom: -0.2em;
    margin-left: -0.2em;
  }

  .dashboard-navigation {
    flex-direction: column;
    width: 50vw;

    &-item {
      transform: scale(1.5);
    }
  }
}
