@use "../styles/_variables.scss" as *;

h1 {
  font-family: $dashboard-font;
  color: $color-primary-darker;
  text-align: center;
  font: size 1.875em;
}

.Rovers__ButtonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
