@use "../styles/variables" as *;

.Button {
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0.125rem solid $color-background;
  border-radius: 0.25rem;
  background-color: $button-dashboard-background;
  text-align: center;
  font-weight: bold;
  font-family: $dashboard-font;
  font-size: 1rem;
  transition: background-color 0.25s;
  cursor: pointer;

  &:hover {
    background-color: $button-dashboard-hover;
  }
}
