@use "../styles/variables" as *;

.fact-section {
  padding: 0px 24px;
  border-radius: 25px;
}

.fact-card {
  background-color: $mission-header-background;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 25px;
  border: 5px solid black;
  box-shadow: 0 0 3px;
}

.card-content {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 12px;
  align-items: center;
}

.fact-image {
  max-width: 200px;
  max-height: 400px;
  border-radius: 15px;
}
