@use "../styles/_variables.scss" as *;

.Gallery__ModalImage {
  max-width: 100%;
  border-color: $color-primary-darkest;
  border-style: solid;
}

.Gallery__ModalImageDetails {
  font-size: 1.4em;
}

.ImageCard {
  margin: 0.5em;
  border-color: $color-primary-darkest;
  border-style: solid;
  font: $dashboard-font;
}

.Gallery {
  position: relative;
  left: 2%;
  margin-top: 25em;
}
