@use "../styles/_variables.scss" as *;

.Gallery__ModalImage {
  max-width: 100%;
  border-color: $color-primary-darkest;
  border-style: solid;
}

.Gallery__ModalImageDetails {
  font-size: 1.4em;
}

.ImageCard {
  margin: 0.5em;
  border-color: $color-primary-darkest;
  border-style: solid;
  font: $dashboard-font;
}

.Gallery {
  display: flex;
  position: relative;
  left: 2%;
  margin-top: 25em;
}

// Following code is in experiment stage
@media only screen and (max-width: 640px) {
  .Gallery {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    position: relative;
    left: 2%;
    margin-top: 25em;
  }

  .ImageCard {
    display: flex;
    // flex-direction: column;
    width: 25vw;
    height: 25vw;
  }
}
