@use "../styles/variables" as *;

main {
  background-color: $main-background;
  max-width: 85vw;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 20px 20px;
  min-height: 1200px;
}

@media (min-width: 768px) {
  main {
    max-width: 85vw;
    margin: 120px auto 0;
  }
}

@media (min-width: 992px) {
  main {
    max-width: 85vw;
    margin: 140px auto 0;
  }
}
