@use "./styles/variables" as *;
@use "./styles/mixins" as *;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: $dashboard-font;
}

html {
  background-color: black;
}

body {
  margin: 0;
  padding: 6.5rem 0;
  background-image: url(./assets/background-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

@include device(tablet) {
  body {
    padding-top: 7.75rem;
    background-image: url(./assets/background-desktop.png);
  }
}

@include device(desktop) {
  body {
    padding-top: 9rem;
  }
}
