@use "./styles/variables" as *;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: $dashboard-font;
}

body {
  // background-image: url(./assets/Mars_Project_-_Mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  body {
    // background-image: url(./assets/Mars_Project_-_Desktop.png);
  }
}
